/*base css*/
body {
	color:#000;
	font-family:arial, sans-serif;
}
h2 {
	font-family: 'Comfortaa', cursive;
	font-size:16pt;
	color:#009c00;
}
ul {
	padding:0;
	list-style: disc url(../images1/bullet.png) inside;
}
hr {
	border:1px dashed #009c00;
}
.readmore {
	padding:10px;
	background:#009c00;
	color:#fff;
	text-align:center;
}
a.readmore {
	text-decoration:none;
}
.readmore:hover {
	background:#000;
}
/*layouts*/
#page {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#page_bg {
	background:url(../images1/bg2.jpg);
	top:0;
	left:0;
	width:100%;
}
#page1 {
	background:#f3f3f3;
	top:0;
	left:0;
	width:100%;
}
#page2 {
	min-height:400px;
	text-align: justify;
}
#bar {
	width:100%;
	left:0;
	top:0;
	height:59px;
	background:#000;
	border-bottom:1px solid #202020;
}
#mainmenu {
	width:1000px;
	margin:0 auto;
	height:59px;
}
#menu {
	float:right;
	margin-right:50px;
}
#menu a {
	display:inline-block;
	padding:20px 30px 20px 30px;
	text-decoration:none;
	color:#ccc;
	text-transform:uppercase;
	font-size:12pt;
	font-family: 'Comfortaa', cursive;
}
#menu a:hover {
	color:#fff;
}
#list {
	width:1000px;
	margin:0 auto;
}

.headless {
	padding: 1px; /* firefox fix */
}
#logo {
	display:inline-block;
	text-transform:uppercase;
	margin:40px 40px 40px 5px;
	border-right:1px dotted #fff;
	font-family: 'Comfortaa', cursive;
}
.logo1 {
	display:inline-block;
	color:#fff;
	font-size:30pt;
	font-weight:bold;
}
.logo2 {
	display:inline-block;
	color:white;
	font-size:12pt;
	font-weight:bold;
	font-style:italic;
	padding-right:10px;
}
#slogan {
	display:inline-block;
	margin:40px 0 40px 0;
	color:#fff;
	font-size:30pt;
	font-family: 'Comfortaa', cursive;
}
#promo {
	width:980px;
	height:400px;
	margin:0 auto;
	border:5px solid #fff;
	background:#000;
}
#slide {
	width:980px;
	height:400px;
	/*background:url(../images/1.jpg);*/
}
#podslider {
	width:980px;
	margin:0 auto;
	color:#fff;
	padding:40px 0 50px 0;
}
#block {
	padding-bottom:20px;
}
#block1, #block2, #block3 {
	display:inline-block;
	width:300px;
	vertical-align:top;
	margin:0 15px 0 15px;
}
#articles {
	display:inline-block;
	width:600px;
	vertical-align:top;
	margin:0 15px 0 15px;
}
#map, #contacts {
	display:inline-block;
	width:450px;
	vertical-align:top;
	margin:20px 10px 0 10px;
}
#footer {
	text-align:center;
	height:50px;
}
#footer p {
	padding:20px 0 10px 0;
	font-size:10pt;
}
/*images*/
#img_scroll 
{
	width:1000px;
	margin:0 auto;
}
.img1 {
	display:inline-block;
	padding:10px;
	margin:20px 0 20px 0;
}
.img1 img {
	width:215px;
	border:5px solid #fff;
}
#img_gallery {
	width:1000px;
	margin:10px auto;
}
.img {
	display:inline-block;
	padding:10px;
}
.img img {
	width:217px;
	border:5px solid #000;
}
